<div class="mainBlock">
    <a class="returnButton btn" href="/student/payment">
        &#9668; Назад
    </a>
    <div class="dateBlock">
        <a class="dateBlock_all" id="dateAll" href="#">За всё время</a>
        <div class="dateBlock_period">
            За период:<br/>
            <input type="date" placeholder="дд.мм.гггг" class="dateBlock_input" id="dateStart"/>
            -
            <input type="date" placeholder="дд.мм.гггг" class="dateBlock_input" id="dateEnd"/>
            <input type="submit" value="Готово" class="dateBlock_submit" id="dateSubmit"/>
        </div>
    </div>
    <div class="tableBlock tableBlock__history">
        <table class="tableBlock_table">
            <thead class="tableBlock_head">
            <tr>
                <th>Дата</th>
                <th>Операция</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody class="tableBlock_body">
            {{#each payments}}
                {{#if this.is_pay}}
                    <tr class="tableBlock_item tableBlock_item__green history_item" dvalue="{{this.dateForJS}}">
                {{else}}
                    <tr class="tableBlock_item tableBlock_item__red history_item" dvalue="{{this.dateForJS}}">
                {{/if}}
                        <td>{{this.date}}</td>
                        <td>{{this.operation}}</td>
                        <td>{{this.sum}} руб.</td>
                    </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="/js/datepicker.js"></script>