<div class="mainBlock">
    <div class="personBlock">
        <span class="personBlock_name">{{student_inf.name}}</span>
        <img src="/images/person.png" class="personBlock_img">
    </div>
    {{#if is_neg_balance}}
    <div class="balance balance__negative">
    {{else}}
    <div class="balance balance__positive">
    {{/if}}
        <span class="balance_text">Ваш баланс:</span>
        <span class="balance_sum">{{student_inf.balance}} руб.</span>
        <a href="/student/payment" class="linkBlock linkBlock__pay">
            Пополнение баланса
        </a>
    </div>
    <div class="tableBlock tableBlock__lessons">
        <div class="tableLegend">
            <div class="tableLegend_inf">
                <div class="tableLegend_colorBLock tableLegend_colorBLock__done"></div>
                <span class="tableLegend_text">- занятие проведено</span>
            </div>
            <div class="tableLegend_inf">
                <div class="tableLegend_colorBLock tableLegend_colorBLock__canceled"></div>
                <span class="tableLegend_text">- занятие не состоялось</span>
            </div>
        </div>
        <table class="tableBlock_table">
            <thead class="tableBlock_head">
            <tr>
                <th>Дата</th>
                <th>День недели</th>
                <th>Время</th>
                <th>Предмет</th>
                <th>Репетитор</th>
                <th>Особенности</th>
                <th>Ссылка на занятие</th>
            </tr>
            </thead>
            <tbody class="tableBlock_body">
            {{#each lessons}}
                {{#if this.is_done}}
                    <tr class="tableBlock_item tableBlock_item__green">
                {{else if this.is_canceled}}
                    <tr class="tableBlock_item tableBlock_item__red">
                {{else}}
                    <tr class="tableBlock_item">
                {{/if}}
                    <td>{{this.day}}</td>
                    <td>{{this.weekday}}</td>
                    <td>{{this.time}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.feature}}</td>
                    <td class="tableBlock_link">
                        <a href="{{this.link}}" class="linkBlock">Перейти к занятию</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        {{#unless lessons}}
            <div class="infBlock">Уроков нет</div>
        {{/unless}}
    </div>
    <div class="navigationBlock">
        <a href="{{linkPrevWeek}}" class="linkBlock navigationBlock_left">&#9668; Предыдущая неделя</a>
        <a href="{{linkNextWeek}}" class="linkBlock navigationBlock_right">Будущая неделя &#9658;</a>
    </div>
</div>