<div class="mainBlock">
    <div class="personBlock">
        <span class="personBlock_name">{{student_inf.name}}</span>
        <img src="/images/person.png" class="personBlock_img">
    </div>
    {{#if is_neg_balance}}
    <div class="balance balance__negative">
    {{else}}
    <div class="balance balance__positive">
    {{/if}}
        <span class="balance_text">Ваш баланс:</span>
        <span class="balance_sum">{{student_inf.balance}} руб.</span>
        <a href="/student/payment" class="linkBlock linkBlock__pay">
            Пополнение баланса
        </a>
    </div>
    <div class="tableBlock tableBlock__schedule">
        <h4 class="tableBlock_header">Постоянное расписание<br/>(разовые занятия не отображаются):</h4>
        <table class="tableBlock_table">
            <thead class="tableBlock_head tableBlock_head__orange">
            <tr>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятиница</th>
                <th>Суббота</th>
                <th>Воскресенье</th>
            </tr>
            </thead>
            <tbody class="tableBlock_body">
            <tr>
                {{#each const_lessons}}
                <td>
                    {{#each this}}
                        <div class="scheduleItem">
                            <span class="scheduleItem_time">{{this.time}}</span>
                            <span class="scheduleItem_name">{{this.title}}</span>
                            <span class="scheduleItem_tutor">{{this.name}}</span>
                        </div>
                    {{/each}}
                </td>
                {{/each}}
            </tr>
            </tbody>
        </table>
        {{#unless const_lessons}}
            <div class="infBlock">Уроков нет</div>
        {{/unless}}
    </div>
    <div class="tableBlock tableBlock__lessons" id="lessons">
        <h4 class="tableBlock_header">Расписание на эту неделю:</h4>
        <div class="tableLegend">
            <div class="tableLegend_inf">
                <div class="tableLegend_colorBLock tableLegend_colorBLock__done"></div>
                <span class="tableLegend_text">- занятие проведено</span>
            </div>
            <div class="tableLegend_inf">
                <div class="tableLegend_colorBLock tableLegend_colorBLock__canceled"></div>
                <span class="tableLegend_text">- занятие не состоялось</span>
            </div>
        </div>
        <table class="tableBlock_table">
            <caption class="tableBlock_caption">
                {{week_range}}
            </caption>
            <thead class="tableBlock_head">
            <tr>
                <th>Дата</th>
                <th>День недели</th>
                <th>Время</th>
                <th>Предмет</th>
                <th>Репетитор</th>
                <th>Особенности</th>
                <th>Ссылка на занятие</th>
            </tr>
            </thead>
            <tbody class="tableBlock_body">
            {{#each lessons}}
                {{#if this.is_done}}
                    <tr class="tableBlock_item tableBlock_item__green">
                {{else if this.is_canceled}}
                    <tr class="tableBlock_item tableBlock_item__red">
                {{else}}
                    <tr class="tableBlock_item">
                {{/if}}
                    <td>{{this.day}}</td>
                    <td>{{this.weekday}}</td>
                    <td>{{this.time}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.feature}}</td>
                    <td class="tableBlock_link">
                        <a href="{{this.link}}" class="linkBlock">Перейти к занятию</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        {{#unless lessons}}
            <div class="infBlock">Уроков нет</div>
        {{/unless}}
    </div>
    <div class="navigationBlock">
        {{#unless linkPrevWeek}}
            <a href="#" class="disabled linkBlock navigationBlock_left">&#9668; Предыдущая неделя</a>
        {{else}}
            <a href="{{linkPrevWeek}}" class="linkBlock navigationBlock_left">&#9668; Предыдущая неделя</a>
        {{/unless}}
        {{#unless linkNextWeek}}
            <a href="#" class="disabled linkBlock navigationBlock_right">Будущая неделя &#9658;</a>
        {{else}}
            <a href="{{linkNextWeek}}" class="linkBlock navigationBlock_right">Будущая неделя &#9658;</a>
        {{/unless}}
    </div>
</div>