<div class="mainBlock">
    <a class="btn__return btn" href="/student/panel/currentWeek">
        &#9668; Назад
    </a>
    <div class="paymentBlock">
        <span class="paymentBlock_text">
            Пополнить баланс
            <br/><br/>
            Текущий баланс: {{student_inf.balance}} руб.
        </span>
        <form class="paymentBlock_form">
            <input type="text" class="paymentBlock_sum" placeholder="Введите желаемую сумму в рублях" min="0"/>
            <button type="submit" class="btn__paymentBlock btn">оплатить</button>
        </form>
    </div>
    <span class="labelBlock">
        Уроки, которые необходимо оплатить:
    </span>
    {{#if payments}}
    <div class="tableBlock tableBlock__payment">
        <table class="tableBlock_table">
            <thead class="tableBlock_head">
            <tr>
                <th>Дата</th>
                <th>Предмет</th>
                <th>Продолжительность</th>
                <th>Стоимость</th>
                <th>Ссылка на оплату</th>
            </tr>
            </thead>
            <tbody class="tableBlock_body">
            {{#each payments}}
                <tr class="tableBlock_item">
                    <td>{{this.day}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.duration}} мин.</td>
                    <td>{{this.price}} руб.</td>
                    <td class="tableBlock_link">
                        <a href="{{this.payLink}}" class="linkBlock">{{this.payLink}}</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
        <div class="infBlock">Все уроки оплачены ✅</div>
        {{/if}}
    <a class="btn__history btn" href="/student/history">
        История оплат
    </a>
</div>